vendor/
node_modules/
storage/logs/*.log
storage/framework/cache/data/*
storage/framework/sessions/*
storage/framework/views/*
storage/app/*
!storage/app/.gitignore
storage/oauth-*.key
.env
.env.*
.git/
.gitignore
.phpunit.result.cache
tests/
README.md
composer.phar
package.json
package-lock.json
vite.config.js
tailwind.config.js
postcss.config.js
